body{
  background-color: #61dafb;
}
.App {
  text-align: center;
}

.container{
  background-color: rgb(7, 2, 71);
  justify-content: center;
  width: 50%;
  margin-left: 26%;
  margin-top: 5%;
  text-align: center;
  padding: 20px;
}
.header{
  color: white;
  font-size: 40px;
  font-weight: bold;
  
}

input{
   width: 70%;
   height: 30px;
   
}
button{
  height: 38px;
  width: 100px;
  background-color: green;
  margin-left: 5px;
}

.list-heading{
  color: rgb(15, 14, 14);
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  background-color: cadetblue;
  width: 60%;
}
.listdata{
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(164, 203, 237);
  text-align: left;
  padding-left: 30px;
  width: 53%;
  height: 35px;
}

.rem{
  position: relative;
  margin-left: auto;
  top: -36px;
  
  
}